{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{# on met le fichier à vide pour ne pas afficher la navbar #}
{% block navbar %}{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<div class="d-flex justify-content-center align-items-center vh-100">
			<div class="card p-4" style="width: 100%; max-width: 400px;">
				<div class="card-body">
					<h1 class="h3 mb-3 font-weight-normal text-center"> Connectez-vous </h1>

					<!-- Formulaire -->
					<form action="{{ path('app_login') }}" method="post">
						<div class="mb-3">
							<label for="inputEmail" class="form-label"> E-mail </label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						</div>
						<div class="mb-3">
							<label for="inputPassword" class="form-label"> Mot-de-passe </label>
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
						</div>

						<!-- Token CSRF -->
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<!-- Bouton de soumission -->
						<button class="btn btn-lg btn-primary w-100" type="submit"> Me connecter </button>
					</form>
                    
                    <div class="text-center mt-3">
                    <a href="{{ path('app_home') }}">Créer un compte</a>
                </div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
{% block footer %}{% endblock %}
